* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;


}

body {
    background-color: #e5e5e5;
    max-width: 100vw;
    min-height: 100vh;
    border: 1px solid blue;

}
@media screen and (max-width: 600px ){



}

body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    max-width: 100vw;
    height: 10px;
    box-shadow: 0 0 10px lightskyblue;
    z-index: 100;
}

h1 {
    text-align: center;
    padding: 16px 14px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: #1A413F;
    border: 1px solid black;

}

/*font-weight 400 is the same as normal, and 700 is the same as bold*/
li, a, button {
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin: 0 auto;
    padding: 0 30px;
}

.nav-links li a {
    margin: 0 auto;
    transition: all 0.4s ease;
}

.nav-links li a:hover {
    color: #0088a9;
}

button {
    padding: 0 20px;
    background: rgba(0, 175, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease;
}

button:hover {
    background: rgba(0, 175, 169, 0.7);
}

main {
    min-width: 100vw;
    height: auto;
}

.list tr {
    border: 2px lightskyblue;

}

.alert {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

hr {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;

}

.message {
    padding: 1rem 0.875rem;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

form {
    padding: 1rem 0.875rem;
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid lightseagreen;
    /*box-shadow: 0 12px 8px 6px lightseagreen*/
}

.form-group input {
    margin: 0 auto;
    padding: 1rem 0.875rem;
    width: 80%;

}


.form-group textarea {
    margin: 0 auto;
    min-height: 10rem;
    padding: 1rem 0.875rem;
    width: 80%;
}
@media screen and (max-width: 600px ){
    .form-group input[type=submit]{
        width: 95%;
    }
    .form-group textarea{
        width: 95%;
    }
    .form-group input{
        width: 95%;
    }
    .form-group label{
     width: 95vw;
    }

}

.form-group input[type=submit] {
    color: white;
    font-weight: bold;
    font-size: large;
    margin: 25px auto;
    padding: 1rem 0.875rem;
    width: 80%;
    background-color: lightseagreen;
}

.form-group label {
    background-color: lightseagreen;
    color: black;
    font-size: large;
    font-weight: bolder;
    display: block;
    margin: 1rem auto;
    padding: 1rem 0.875rem;
    width: 80%;
    text-align: left;

}

.content {
    width: 90%;
    border-radius: 1rem 1rem 0.5rem 0.5rem ;
    box-shadow:  4px 6px 4px 4px lightblue;
    padding: 2rem;
    margin: 0 auto;
    min-height: 100vh;
    box-sizing: border-box;

}

.content h2 {
    text-align: center;
    color: darkblue;
    font-size: x-large;
    font-weight: bold;
}

.content p {
    max-width: 100ch;
    margin: 0 auto;
    padding: 1rem;
    font-size: medium;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.btn-link a {
    position: absolute;
    bottom: 0;
    width: 20%;
    background: lightseagreen;
    color: darkblue;
    text-align: center;
    right: 40%;
    box-sizing: border-box;
}

.btn-link :hover {
    color: white;
}

.container {
    padding: 16px 14px;
    margin: 0 auto;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid transparent;
    box-shadow: 0 12px 8px 6px lightskyblue;
}

footer {
    display: grid;
    position: relative;
    border-top: 2px solid black;
    background-color: white;
    bottom: 0;
    text-align: center;
    margin: 1rem auto;
    width: 100%;
    min-height: 2rem;


}

.Add {
    top: 2rem;
    right: 2rem;
    position: absolute;
    width: 20%;
    font-weight: bold;
    font-size: large;
    background-color: lightskyblue;
    margin: 16px auto;
    padding: 6px;
    text-align: center;
}

.Add :hover {
    color: dodgerblue;
}

.post {
    position: relative;
    background-color: white;
    width: 80%;
    min-height: 100vh;
    margin: 16px auto;
    padding: 2rem;
    color: black;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 2px 6px 6px 4px lightseagreen;
}

.post p {
    font-size: medium;
    font-family: "Bookman Old Style";
}

.post a {
    font-weight: 500;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;

}

/**/

.Home {
    position: relative;
    background-color: white;
    width: 95%;
    min-height: 100vh;
    margin: 16px auto;
    padding: 2rem;
    box-sizing: border-box;
    color: black;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 2px 6px 6px 4px lightseagreen;
}

.Home p {
    font-size: medium;
    font-family: "Bookman Old Style";
}

.Home a {
    font-weight: 500;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;

}

article {
    background-color: transparent;
    border-bottom: 1px solid #718096;
    padding: 25px;
}

.post h1 {
    text-align: center;
}

.create {
    background-color: white;
    padding: 20px 10px;
    margin: 16px auto;
    border-radius: 1rem 1rem 0 0;
    width: 95vw;
    min-height: 100vh;
    text-align: center;
    box-shadow: 0 12px 8px 6px lightseagreen;

}
@media screen and (max-width: 600px ){
    .create{
        width: 100vw;
    }

    form{
        width: 100%;
    }




}


@media screen and (max-width: 600px ){
    .form-group input[type=submit]{
        width: 95%;
    }
    .form-group textarea{
        width: 95%;
    }
    .form-group input{
        width: 95%;
    }
    .form-group label{
        width: 95%;
    }

}
